<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Attestation de préinscription APS</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 15px; font-size: 14px; line-height: 1.6;">
    <h1>ANNEXE : Justificatif de préinscription à une formation</h1>
    <p><strong>Cadre réservé à l’organisme de formation</strong></p>
    <p>Je soussigné(e), Monsieur Clément VAILLANT</p>
    <p>Responsable de l'organisme de formation : INTEGRALE SECURITE FORMATIONS</p>
    <p>Numéro d'enregistrement DIRECCTE : 93830600283</p>
    <p>Autorisé à exercer par le CNAPS sous le numéro : FOR-083-2027-02-08-20220755135</p>
    <p>Contact : 04 22 47 07 68 – integralesecuriteformations@gmail.com</p>
    <p>Certifie que Monsieur / Madame : <strong>{{ stagiaire.nom }} {{ stagiaire.prenom }}</strong></p>
    <p>est préinscrit(e) à la formation qualifiante ci-dessous :</p>
    <p><strong>Libellé exact de la formation :</strong> AGENT DE PREVENTION ET DE SECURITE (APS)</p>
    <p><strong>Numéro d'enregistrement RNCP :</strong> 34054</p>
    <p><strong>Nature de la formation :</strong> Titre à Finalité Professionnelle (TFP) Agent de Prévention et de Sécurité - Agrément de la CPNEFP n°8320032701 en date du 23/06/2025 (valable jusqu'au 23/06/2028)</p>
    <p><strong>Dates de la formation :</strong> {{ stagiaire.session }} qui se déroulera à Puget sur Argens (83480).</p>
    <p><strong>Lieu(x) de réalisation de la formation :</strong> Intégrale Sécurité Formations - 54 chemin du Carreou - 83480 PUGET SUR ARGENS</p>
    <br>
    <p>Monsieur Clément VAILLANT</p>
    <p>Directeur Général – Intégrale Sécurité Formations</p>
    <img src="{{ url_for('static', filename='signature_bloc.png') }}" style="width: 200px; height: auto;">
</body>
</html>
